@import '../../assets/colors.scss';

.CartItem {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: $bg-1;

  .CartItem__image {
    width: 100px;
    min-width: 80px;
    aspect-ratio: 1 / 1;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .CartItem__container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .CartItem__info {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .CartItem__info--text {
      margin: 0 15px;
      color: $fg-1;
      font-size: 1.6rem;
      font-weight: 600;
      width: 140px;

      &.price {
        width: auto;
        margin: 10px 15px;
        font-weight: 700;
        font-size: 1.8rem;
      }
    }
  }

  .CartItem__controls {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    .ItemCount {
      width: 30%;
      min-width: 120px;
      margin-top: 0px;
    }

    .ItemCount__addToCart {
      display: none;
    }

    .CartItem__controls--remove {
      margin-left: 25px;
      width: 20px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 650px) {
  .CartItem {
    .CartItem__info {
      .CartItem__info--text {
        width: auto;
      }
    }

    .CartItem__controls {
      margin-top: 5px;
      justify-content: space-evenly;
    }
  }
}
