@import '../../assets/colors.scss';

.ItemDetailContainer {
  min-height: calc(100vh - 110px);
  background-color: $bg-1;
  padding: 50px 5vw;
}

.ItemDetail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .ItemDetail__image {
    position: relative;
    aspect-ratio: 1 / 1;
    width: clamp(400px, 35%, 700px);
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    .ItemDetail__isInCart {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }
  }

  .ItemCount,
  .ItemCount__addToCart {
    width: clamp(100px, 50%, 300px);
  }

  a {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    background-color: $fg-2;
    color: $bg-1;
    font-size: 1.6rem;
    border-radius: 8px;
    cursor: pointer;
    border: 6px solid $fg-2;
    text-decoration: none;
  }

  .ItemDetail__cartText {
    margin-top: 40px;
    font-size: 1.8rem;
    color: $fg-1;
    font-weight: 700;
  }
}

.ItemDetail__content {
  width: clamp(350px, 30%, 800px);
}

.ItemDetail__category {
  padding: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: $shade-1;
  color: $fg-2;
  border-radius: 5px;
}

.ItemDetail__title {
  margin-bottom: 20px;
  color: $fg-1;
  font-size: 4rem;
}

.ItemDetail__description {
  margin: 20px 0;
  color: $fg-1;
  font-size: 1.8rem;
}

.ItemDetail__price {
  font-size: 3.2rem;
  color: $fg-2;
}

@media only screen and (max-width: 998px) {
  .ItemDetailContainer {
    min-height: calc(100vh - 77px);
  }
}

@media only screen and (max-width: 850px) {
  .ItemDetailContainer {
    padding: 50px 20px;
  }

  .ItemDetail {
    .ItemDetail__image {
      width: 90%;
    }

    .ItemCount,
    .ItemCount__addToCart {
      width: clamp(1px, 100%, 400px);
    }
  }

  .ItemDetail__content {
    margin-top: 20px;
    width: 90%;
  }
}
