@import '../../assets/colors.scss';

.ItemDisplay {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $bg-3;
  background-image: url('../../assets/icons/deal.svg');
  background-repeat: repeat;
  background-position: -10px;
  background-attachment: fixed;

  img {
    margin-right: 20px;
    width: clamp(300px, 20vw, 600px);
  }

  .ItemCount,
  .ItemCount__addToCart {
    width: clamp(170px, 40%, 300px);
  }
}

.ItemDisplay__buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;

    &.active {
      padding: 5px;
      border: 5px solid $fg-1;
    }
  }
}

.ItemDisplay__information {
  width: 20%;
  margin: 50px 0 0 50px;

  > h3 {
    color: $fg-1;
    font-size: 3rem;
  }

  > p {
    margin-top: 10px;
    color: $fg-1;
    font-size: 1.8rem;

    &.price {
      color: $fg-2;
      font-size: 3rem;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 690px) {
  .ItemDisplay {
    padding: 50px 15px;
    align-items: center;

    .ItemCount,
    .ItemCount__addToCart {
      width: 80%;
    }
  }

  .ItemDisplay img {
    margin: 0;
    width: clamp(50px, calc(80% - 40px), 360px);
  }

  .ItemDisplay__information {
    margin: 20px auto;
    width: 90%;
  }
}
