@import '../../assets/colors.scss';

.ItemList {
  padding: 0px 5vw;

  h2 {
    text-align: center;
    font-size: 4rem;
    color: $fg-1;
  }
}

.ItemList__flex {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 35px;
  padding: 20px;
  width: clamp(300px, 33.33%, 400px);
  background-color: $bg-1;
  border-radius: 20px;
  cursor: pointer;
  transition: 350ms ease all;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;
  }
}

.Item .Item__info--name {
  margin-top: auto;
  font-size: 2.6rem;
  font-weight: 700;
  color: $fg-1;
}

.Item__info--price {
  margin-top: 10px;
  font-size: 2rem;
  color: $fg-2;
}
