@import '../../assets/colors.scss';

.ItemListContainer {
  background-color: $bg-3;
  padding: 50px 0;
  min-height: 100vh;
}

@media only screen and (max-width: 998px) {
  .ItemListContainer {
    padding-top: 150px;
  }
}
