@import '../../assets/colors.scss';

.ItemList {
  margin-top: 50px;
  padding: 50px 5vw;
}

.ItemList h2 {
  text-align: center;
  font-size: 3.2rem;
  color: $fg-1;
}

.ItemList__flex {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Item {
  margin: 35px;
  padding: 20px;
  width: clamp(300px, 33.33%, 400px);
  background-color: $bg-1;
  border-radius: 20px;
  cursor: pointer;
  transition: 350ms ease all;
}

.Item:hover {
  transform: scale(1.1);
}

.Item img {
  width: 100%;
}

.Item__info--name {
  font-size: 2.2rem;
  font-weight: 700;
  color: $fg-1;
}

.Item__info--price {
  margin-top: 10px;
  font-size: 1.8rem;
  color: $fg-2;
}
