@import '../../assets/colors.scss';

.CheckoutForm__container {
  height: 50vh;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.CheckoutForm__message {
  color: $fg-1;
  width: 100%;
  text-align: center;
}

p.CheckoutForm__message {
  font-size: 1.8rem;
}

h3.CheckoutForm__message {
  font-size: 3rem;
}

.CheckoutForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: clamp(240px, 80%, 500px);

  label {
    color: $fg-1;
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $bg-2;
    border: 0px;
    border-radius: 8px;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e2801;
    font-family: 'Work Sans', sans-serif;
  }

  input[type='submit'] {
    background-color: $fg-2;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: $bg-1;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
  }

  p {
    font-size: 1.8rem;
    font-weight: 600;
    color: $fg-1;
    margin: 15px 0;
  }
}
