@import '../../assets/colors.scss';

.NavBarLink {
  margin: 0 15px;
  font-size: 1.6rem;
  color: $fg-1;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.NavBarLink:hover {
  border-bottom: 2px solid $fg-1;
}

@media only screen and (max-width: 998px) {
  .NavBarLink {
    font-size: 2.4rem;
    margin: 15px 0;
  }
}
