@import '../../assets/colors.scss';

.NavBar {
  padding: 20px 5vw;
  display: flex;
  align-items: center;
  background-color: $bg-1;
}

.NavBar__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.NavBar__left {
  display: flex;
  align-items: center;
}

.NavBar__logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.NavBar__logo img {
  width: 70px;
}

.NavBar__logo h1 {
  margin-left: 10px;
  font-size: 2.4rem;
  color: $fg-1;
  font-family: 'Berkshire Swash', cursive;;
}

.NavBar__icons {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.NavBar__icons li {
  margin-left: 35px;
}

.NavBar__icons img {
  width: 26px;
}

.NavBar__search {
  display: flex;
  background-color: $bg-2;
  border-radius: 8px;
}

.NavBar__search img {
  padding: 10px;
}

.NavBar__search input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 0px;
  border-radius: 8px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: $fg-1;
  font-family: 'Work Sans', sans-serif;
}

.NavBar__search button {
  background-color: $fg-2;
  padding: 15px;
  height: 100%;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: $bg-1;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

.hamburger-react {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .NavBar__logo h1 {
    display: none;
  }
}

@media only screen and (max-width: 998px) {
  .NavBar {
    padding: 10px 20px
  }

  .NavBar__content {
    position: absolute;
    top: 70px;
    left: -100%;
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease;
    background-color: $bg-1;
    opacity: 0;
  }

  .NavBar__content.show {
    left: 0;
    opacity: 1;
  }

  .NavBar__logo img {
    width: 40px;
  }

  .NavBar__logo h1 {
    display: inline-block;
    font-size: clamp(1rem, 10vw, 2rem); 
  }

  .NavBar__left {
    flex-direction: column;
  }

  .hamburger-react {
    width: 22px;
    display: inline-block;
    margin-left: 18px;
  }

  .NavBar__icons li {
    margin-left: 18px;
  }

  .NavBar__search {
    position: absolute;
    width: 80%;
    top: 20px;
  }
}

@media only screen and (max-width: 430px) {
  .NavBar__logo img {
    display: none;
  }

}