@import '../../assets/colors.scss';

.Search {
  display: flex;
  background-color: $bg-2;
  border-radius: 8px;
  margin-left: auto;

  img {
    padding: 10px;
  }

  form {
    display: flex;
  }

  .Search__input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0px;
    border-radius: 8px;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: $fg-1;
    font-family: 'Work Sans', sans-serif;
  }

  .Search__submit {
    background-color: $fg-2;
    padding: 15px;
    height: 100%;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $bg-1;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.SearchList {
  background-color: $bg-3;
  padding: 170px 0;
  min-height: 100vh;
}

@media only screen and (max-width: 998px) {
  .Search {
    position: absolute;
    width: 80%;
    top: 20px;
  }
}
